<!DOCTYPE html>
<html>

<head>
    <title>Today's Forecast</title>
</head>

<body>
    <h1>Simple Forecast</h1>
    <form action="/" method="post">
        Location<input type="text" name="city"><br>
        <button type="submit">Submit</button>
    </form>
        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>

</body>

</html>